# Galileo Configuration
GALILEO_API_KEY=your-galileo-api-key
GALILEO_CONSOLE_URL=https://api.galileo.ai

# Traceloop Configuration
TRACELOOP_BASE_URL=https://api.galileo.ai/otel

TRACELOOP_HEADERS=Galileo-API-Key=${GALILEO_API_KEY}
TRACELOOP_METRICS_ENABLED=false
# Enable console exporter for debugging. oNly use during development (prints raw spans to console)
TRACELOOP_CONSOLE_EXPORTER_ENABLED=false

# OpenAI (for LLM calls)
OPENAI_API_KEY=your-openai-api-key
